name: Pytest

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  run-pytest:
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        python-version: [3.6, 3.7]
      fail-fast: false

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Set Python version
      run: echo "PYTHON_VERSION=${{ matrix.python-version }}" >> $GITHUB_ENV
        
    - name: Use Docker compose to run tests
      run: docker compose run --rm --build python-test
