name: Pytest

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  run-pytest:
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9, '3.10', '3.11']
      fail-fast: false

    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # 3.12.0
        
    - name: Use Docker compose to run tests
      run: |
        docker compose build --build-arg PYTHON_VERSION=${{ matrix.python-version }} python-test
        docker compose run --rm python-test
