name: Pytest

on:
  pull_request:
    branches:
      - master

jobs:
  run-pytest:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
        
    - name: Build Docker image
      run: docker build -t pytest-image .

    - name: Run Docker container with pytest
      run: docker run --rm pytest-image
